// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.uno, .NP, .SU, .E, .FP, .LI {
    font-size: 20px;
    text-align: center;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;  background-color:#E1D6E1;
    
}
.CA{
    font-size: 20px;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif; 
}



  
.top-bar{
    background-color:#AEACAF;
   
   
}
.menu-text{
     background-color:#876C88;
}
.tablas{
    box-sizing: padding-box;
}
.TB{
    width: 55%;
    margin: auto;
}

.O{
    width: 26%;
    left: 36%;
    margin: auto;
}